<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <a href="javascript:window.history.go(-1)">Back</a> <!-- Displayed on top of a potentially large JSON response, so it will remain visible -->
    <h1 id="key-vault-test">Key Vault Test</h1>
    <h2 id="info">INFO</h2>
    <p>This page is an INFO page. The actual page you&#39;ll be going to requires you to input the key vault name, vault and secret you wish to store inside of Key vault.</p>
    <h2 id="remember">REMEMBER</h2>
    <p>This is a debug app.</p>
    <form action="/keyvaultdata" method = "POST">
        <p>VaultName <input type = "text" name = "VaultName" /></p>
        <p>SecretName <input type = "text" name = "SecretName" /></p>
        <p>SecretValue <input type = "password" name = "SecretValue" /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>
</html>